{% import "helper.html.twig" as helper %}

<ul class="media-list content-group">
    {% for singleRankingHistory in rankingHistory %}
        <li class="media panel panel-body stack-media-on-mobile">
            <div class="media-left">
                <a href="{{ path('show_coaster', {'id': singleRankingHistory.coaster.id, 'slug': singleRankingHistory.coaster.slug}) }}">
                    {% if singleRankingHistory.coaster.mainImage is not null %}
                        <img src="{{ pictures_cdn }}/96x96/{{ singleRankingHistory.coaster.mainImage.filename }}"
                             class="img-rounded"
                             style="width:96px;"
                             alt="{{ singleRankingHistory.coaster.name }}">
                    {% endif %}
                </a>
            </div>
            <div class="media-body">
                <h2 class="media-heading mb-10">
                    <a style="color:#333;"
                       href="{{ path('show_coaster', {'id': singleRankingHistory.coaster.id, 'slug': singleRankingHistory.coaster.slug}) }}">
                        {% if not filtered %}
                            {{ singleRankingHistory.rank }}&nbsp;-&nbsp;{{ singleRankingHistory.coaster.name }}
                        {% else %}
                            {{ firstRank + loop.index0 }}&nbsp;-&nbsp;{{ singleRankingHistory.coaster.name }} (#{{ singleRankingHistory.rank }})
                        {% endif %}
                    </a>

                    {% set previousSingleRankingHistory = null %}
                    {% for singlePreviousRankingHistory in previousRankingHistory %}
                        {% if singlePreviousRankingHistory.coaster.id == singleRankingHistory.coaster.id %}
                            {% set previousSingleRankingHistory = singlePreviousRankingHistory %}
                        {% endif %}
                    {% endfor %}
                    {{ helper.variation(singleRankingHistory, previousSingleRankingHistory) }}
                </h2>
                <ul class="list-inline list-inline-separate text-muted mb-5">
                    <li>
                        <a class="text-muted"
                           href="{{ path('park_show', {'id': singleRankingHistory.coaster.park.id, 'slug': singleRankingHistory.coaster.park.slug}) }}">
                            {{ singleRankingHistory.coaster.park.name }}
                        </a>
                    </li>
                    <li>{{ singleRankingHistory.coaster.park.country.name|trans([], 'database') }}</li>
                </ul>
                <ul class="list-inline list-inline-separate text-muted mb-5">
                    {% if singleRankingHistory.coaster.manufacturer %}
                        <li>{{ singleRankingHistory.coaster.manufacturer.name }}</li>{% endif %}
                </ul>
            </div>
            <div class="media-right text-center">
                <h3 style="color: {{ helper.ratingColor(singleRankingHistory.score) }};"
                    class="no-margin text-semibold text-nowrap">
                    {{ singleRankingHistory.score|number_format(1, ',') }}%
                </h3>
                <span class="text-muted mb-10 mt-10 text-nowrap">
            {{ 'coaster_ranking.duel_number'|trans({'count': singleRankingHistory.validDuels}) }}
          </span>
            </div>
        </li>
    {% else %}
        <li class="media panel panel-body stack-media-on-mobile">
            <h5>{{ 'coaster_ranking.no_results'|trans }}</h5>
        </li>
    {% endfor %}
</ul>
<div class="Ranking-pagination">
    {{ knp_pagination_render(rankingHistory) }}
</div>
